*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}

body{
	font-family: "Open sans", san-serif

}
header{
	padding: .8rem;
	margin-bottom: 2rem;
	align-items: center;
	border-bottom: 1px solid gray;

}

header .nav, header .nav-logo{
	margin: .5rem; /* top bottom left and right margin are modified */
	display: inline;
}

#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3em;
}

#intro p{
	margin-bottom: 1rem;
	text-align: center;
}

#intro button{
	color: white;
	font-weight: bolder;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	padding: 1rem;
}

#intro div{
	text-align: center;
}
.header{
	text-align: center;
}

#succeed-info > div > h3 {
	margin-bottom: 1rem;
	text-align: center;
}
#succeed-info div{
	display: inline-block;
	width: 31%;
	margin-left: 0.5rem;
	margin-right: 0.5rem;
	vertical-align: top;
	min-height: 175px;
}

#pre-footer > div > h3 {
	margin-bottom: 1rem;
	text-align: left;
}

#pre-footer > div{
	background-color: magenta;
	display: inline-block;
	text-align: left;
	color: black;
	padding-top: 20px;
	padding-left: 20px;
	width: 20%;
	vertical-align: top;
	min-height: 175px;

}

html > body > footer > span{
	color: black;
	margin: .5rem;
}